.place-slide{
    background-color: rgb(228, 206, 165);
}
.btn{
    float: right;
}
h1{
    text-transform: uppercase;
}
footer{
    background-color: rgb(48, 46, 46);
    
}
.foot{
    color: white;
}
.mail{
    color: chocolate;
    text-decoration: none;
}
.mail:hover{
    color: black;
    
}
